 body {
  margin: 0%;
  background-color: #242424;
  color: antiquewhite;
} 


.nav-menu {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
  
ul {
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0;
  padding: 0;
  border-width: 10px;
}

ul a {
  text-decoration: none;
  color: antiquewhite;
}

video {
  width: 100%;
  height: 80%;
}



