 body {
  margin: 0%;
  background-color: #242424;
  color: antiquewhite;
  font-family: "DIN"; 
} 


.nav-menu {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
  
ul {
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0;
  padding: 0;
  border-width: 10px;
}

ul a {
  text-decoration: none;
  color: antiquewhite;
}

video {
  height: auto;
  width: 100%;
  display: block;
}

.overlay {
  position: absolute;
  top: 50%;       /* centré verticalement */
  left: 50%;      /* centré horizontalement */
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7); /* pour plus de lisibilité */
  text-align: center;
  font-size: 3.3524rem;
}

.overlay .slogan{
  font-size: 1.5rem;
}


.domain {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.domain .categorie {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
